<h1>Character - show</h1>

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>


  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4" >
      <h1 class="display-3"><%= id_char = request.path.split('/').last ; nil%></h1>
      <% result_char = Character.consulta_uno(id_char)%>
      <h1 class="display-3"><%= result_char["name"] %></h1>
      <img src=<%= result_char["image"] %> alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:200px;">
      <div class="grid">
        <div class="row">
          <div class="col-sm-3"><%= result_char["status"] %></div>
          <div class="col-xl-12"><%= result_char["specie"] %></div>
          <div class="col-xl-12"><%= result_char["gender"] %></div>
          <div class="col-xl-12"><%= result_char["type_char"] %></div>
        </div>
      </div>
    </header>



    <!-- Page Features -->
    <h3>Origen</h3>
    <% origen = result_char["origin"]["url"] %>
    <% if origen == "" %>
      <h6>No se tiene registro de origen</h6>
    <% else %>
    <% datos_or = JSON.parse(HTTP.get(origen).body) %>
    <%= link_to datos_or["name"], "../locations/#{datos_or["id"]}", class:"btn btn-secondary"%>
    <% end %>

    <h3>Locación</h3>
    <% locacion = result_char["location"]["url"] %>
    <% if locacion == "" %>
      <h6>No se tiene registro de locación</h6>
    <% else %>
    <% datos_loc = JSON.parse(HTTP.get(locacion).body) %>
    <%= link_to datos_loc["name"], "../locations/#{datos_loc["id"]}", class:"btn btn-secondary"%>
    <% end %>

    <h3>Episodios</h3>
    <div class="row text-center">

    <% result_epi = Character.consulta_obtener_epi(id_char)%>
    <% list_epi = Episodio.consulta_varios(result_epi) %>
    <% list_epi.each do |epi| %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://www.rockandpop.cl/wp-content/uploads/2018/10/rick-and-morty-400x360.jpg"alt="">
        <div class="card-body">
          <h4 class="card-title"><%= epi["name"]%> </h4>
        </div>
        <div class="card-footer">
          <%= link_to 'Ver Episodio', "../episodios/#{epi["id"]}", class:"btn btn-secondary" %>
        </div>
      </div>
    </div>
    <% end %>

    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"></p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
