<h1>Episodios#show</h1>

  <!DOCTYPE html>
  <html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

  <body>


    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4" >
        <h1 class="display-3"><%= id_epi = request.path.split('/').last ; nil%></h1>
        <%= result_epi = Episodio.consulta_uno(id_epi) ; nil%>
        <h1 class="display-3"><%= result_epi["name"] %></h1>
        <p class="lead"><%= result_epi["air_date"]%></p>
        <p class="lead"><%= result_epi["episode"] %></p>
        <a href="../episodios/index" class="btn btn-secondary">Volver a Episodios</a>
      </header>



      <!-- Page Features -->
      <h3 class="text-secondary">Personajes</h3>
      <div class="row text-center">

      <% result_char = Episodio.consulta_obtener_char(id_epi)%>
      <% list_char = Character.consulta_varios(result_char) %>
      <% list_char.each do |char| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src=<%= char["image"] %> alt="">
          <div class="card-body">
            <h4 class="card-title"><%= char["name"]%> </h4>
          </div>
          <div class="card-footer">
            <%= link_to 'Ver Personaje', "../character/#{char["id"]}", class:"btn btn-secondary" %>
          </div>
        </div>
      </div>
      <% end %>

      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white"></p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

  </html>
