<DOCTYPE html>
<html>
  <head>
    <title>Site</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Rick and Morty</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../episodios/index">Episodios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../character/index">Personajes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../locations/index">Lugares</a>
            </li>
          </ul>
            <%= form_tag search_index_path, method: :get do %>
            <%= search_field_tag :search, params[:search], placeholder: "Buscar" %>
            <%= submit_tag 'buscar', class:'btn btn-default' %>
            <% end %>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>

<DOCTYPE html>
